@page
@model AplicatieManagementStudenti.Pages.Inscrieri.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inscriere[0].Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscriere[0].Curs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inscriere[0].Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inscriere) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curs.CursID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InscriereID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InscriereID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InscriereID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
